  body {
    padding: 200px;
    padding-bottom: 500px;
    font-size: 30px;
  }
  p {
    color: aqua;
  }  
  /* Classes e Ids */
  .meu-paragrafo {
    background-color: blue;
    color: black;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  } 

  #titulo-principal {
    background-color: rgb(0, 204, 255);
    color: black;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif
  }
  /* Elementos da página, listas */
  *{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

   p, h1 {
    border-bottom: 3px solid yellowgreen;
   }

 /* Cores */
 .nome-da-cor {
    color: pink;
 }

 .hexa {
    color: #666668;
    background-color: #cc0000;
 }

 .rgb {
    color: rgb(11, 206, 255);
 }

 /* Fontes */

 .serifada{
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .sem-serifa{
   font-family: Arial, Helvetica, sans-serif;
 }

 .mono-espacada {
   font-family: 'Courier New', Courier, monospace;
 }


 /* Size e Weight */

 .tamanho-fonte-grande {
    font-size: 64px;
 }

 .tamanho-fonte-pequena {
    font-size: 12px;
 }

 .peso-fonte {
    font-weight: 700;
 }

 .texto-italico {
    font-style: italic;
 }

 /* Box Model */
 .box-model {
    width: 200px;
    height: 100px;
    border: 5px solid crimson;
    padding: 10px 7px 9px 8px;
    margin: 20px;
 }

 /* Propriedades de texto */
 .alinhamento {
    text-align: center;
 }

 .transform-minuscula {
    text-transform: uppercase;
 }
 .transform-maiuscula{
    text-transform: lowercase;
 }

 /* Espaçamento de linhas e letras */

.espacamento-texto {
    width: 150px;

    /* Line-height- aumenta a propriedade da linha 
    aumentando o espaço entre elas */
    line-height: 40px;
    letter-spacing: 8px;
}
/* Links */
.decoration {
    text-decoration: none;

}
.visitado {
    color: orange;
}
.estilo-hover:hover {
    background-color: aqua;
}

/* Link in button */
.btn {
    background-color: chartreuse;
    border: 3px solid blue;
    border-radius: 5px;
    line-height: 70px;
    text-decoration: none;
    color: darkblue;
    display: block;
    width: 250px;
    height: 70px;
    padding: 12px 7px;
    text-align: center;
    margin: 20px;
}
.btn:hover {
    background-color: rgb(49, 99, 0);
    transition: 1s;
}

/* Lista */
.sem-estilo {
    list-style: none;
}
/* Display */
.inline{
    width: 50px;
    height: 50px;
    background-color: #666668;
    margin: 5px;

}

.inline{
    display: inline-block;
}

.bloco {
    display: block;
}
/* Escondendo o elemento hidden no css com display: none */
.hidden {
  display: none;
}

/* Position Fixed */
.elemento-fixo {
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    background-color: #666668;
    color: beige;
    border-bottom: solid 2px rgb(0, 0, 0);
}
